{% extends 'layout/base.html' %}
<title>Giỏ hàng</title>
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
<div id="cart-container">
    <div class="row hidden">
        <div class="payment-info col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Thông tin nhận hàng</div>
                    <hr />
                    <form class="profile-side" method="POST" action="{{ url_for('cart.cart_page') }}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="name" class="form-label text-primary fw-bold">Họ tên</label>
                                <input type="text" class="form-control" id="name" placeholder="Nhập họ tên" value="{{ user.Name or '' }}"
                                    required />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phonenumber" class="form-label text-primary fw-bold">Số điện thoại</label>
                                <input type="text" class="form-control" id="phonenumber"
                                    placeholder="Nhập số điện thoại" value="{{ user.Phone or '' }}" required />
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="address" class="form-label text-primary fw-bold">Địa chỉ</label>
                                <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ" value="{{ user.Address or '' }}"
                                    required />
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="notes" class="form-label text-primary fw-bold">Ghi chú cho cửa hàng</label>
                                <textarea type="text" class="form-control" id="notes" rows="3"
                                    placeholder="Nhập ghi chú"></textarea>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="cart-info col-md-6">
            <div class="card">
                <div class="card-body"></div>
            </div>
        </div>
    </div>
    <div class="no-item-container hidden">
        <h4>Không tìm thấy sản phẩm nào</h4>
        <p>Xin lỗi, giỏ hàng của bạn hiện đang trống. Vui lòng chọn món trước nhé.</p>
        <a href="/" class="btn btn-success">Trang chủ</a>
    </div>
</div>

<div class="modal fade" id="modal-map" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="staticBackdropLabel">Địa chỉ</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-map-body">
                <input type="text" id="search-location" class="form-control mb-2" placeholder="Nhập địa điểm..." />
                <div id="map" style="height: 400px"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-product-detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-product-detail-body">
        ...
      </div>
    </div>
  </div>
</div>
<script src="/static/js/products/product.js"></script>
<script>
    $(document).ready(function () {
        //Load page
        loadCart();

        //Event
        // $("#btn-choose-location").on("click", function () {
        //     loadMap(() => {
        //         $("#modal-map").modal("show");
        //     });
        // });

        $(document).on("click", ".btn-increase", function () {
            var id = $(this).closest(".item-info").data("id");
            var price = $(this).closest(".item-info").data("price");
            var cart = JSON.parse(localStorage.getItem("cart") || "[]");
            const existingItem = cart.find((item) => item.id === id);
            if (existingItem) {
                existingItem.quantity += 1;
                changeCartItemUI(this, id, existingItem.quantity, price, "increase");
                localStorage.setItem("cart", JSON.stringify(cart));
                updateCartCount();
            }
        });

        $(document).on("click", ".btn-decrease", function () {
            var id = $(this).closest(".item-info").data("id");
            var price = $(this).closest(".item-info").data("price");
            var cart = JSON.parse(localStorage.getItem("cart") || "[]");
            const existingItem = cart.find((item) => item.id === id);
            if (existingItem && existingItem.quantity > 1) {
                existingItem.quantity -= 1;
            } else {
                // Remove item if quantity is 1
                cart = cart.filter((item) => item.id !== id);
                $(this).closest(".row").remove();
            }
            changeCartItemUI(this, id, existingItem.quantity, price, "decrease");
            localStorage.setItem("cart", JSON.stringify(cart));
            updateCartCount();
        });

        $(document).on("click", "#btn-payment", function () {
            if (!validateShipForm()) {
                return;
            }

            const cart = JSON.parse(localStorage.getItem("cart") || "[]");
            const totalPrice = $("#hdf-cart-total-price").val() || 0;
            const name = $("#name").val().trim();
            const phoneNumber = $("#phonenumber").val().trim();
            const address = $("#address").val().trim();
            const notes = $("#notes").val() ? $("#notes").val().trim() : "";

            $.ajax({
                url: "/api/cart/checkout",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    cart: cart,
                    total_price: +totalPrice, //Dấu + để chuyển sang số
                    total_payment: +totalPrice + 0,
                    name: name,
                    phone_number: phoneNumber,
                    address: address,
                    notes: notes,
                    payment_type: $("input[name='payment']:checked").val() || "COD",
                }),
                success: function (response) {
                    if (response.status_code === "SUCCESS") {
                        toastSuccess("Đặt hàng thành công!");
                        localStorage.removeItem("cart");
                        window.location.href = "/order/me";
                    } else {
                        toastError("Đặt hàng thất bại, vui lòng thử lại sau.");
                    }
                },
                error: function (error) {
                    toastError("Đặt hàng thất bại, vui lòng thử lại sau.");
                }
            });
        });
    
        $(document).on("click", ".btn-delete-item>i", function () {
            try{
                var id = $(this).closest(".item-info").data("id");
                var cart = JSON.parse(localStorage.getItem("cart") || "[]");
                cart = cart.filter((item) => item.id !== id);
                localStorage.setItem("cart", JSON.stringify(cart));
                updateCartCount();
                $(this).closest(".row").remove();
                var totalPriceCart = $("#hdf-cart-total-price").val() || 0;
                var itemPrice = $(this).closest(".item-info").data("total-price") || 0;
                totalPriceCart = +totalPriceCart - itemPrice;
                $("#hdf-cart-total-price").val(totalPriceCart);
                $(".cart-total-price").text(totalPriceCart.toLocaleString('en-US', { minimumFractionDigits: 0 }));
                // Cập nhật tổng thanh toán
                var totalPayment = totalPriceCart + 0; // Assuming 0 is the shipping
                $(".cart-total-payment").text(totalPayment.toLocaleString('en-US', { minimumFractionDigits: 0 }));
            }
            catch {
                toastError("Xóa sản phẩm thất bại, vui lòng thử lại sau.");
            }
        });

        $(document).on("click", ".btn-edit-item>i", function () {
            var id = $(this).closest(".item-info").data("id");
            var cart_item = JSON.parse(localStorage.getItem("cart") || "[]").find(item => item.id === id);
            var productid = $(this).closest(".item-info").data("productid");
            if (!cart_item) {
                toastError("Sản phẩm không tồn tại trong giỏ hàng.");
                return;
            }
            $.ajax({
                url: `/api/cart/edit/${productid}`,
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ cart_item: cart_item }),
                success: function (response) {
                    $("#modal-product-detail-body").html(response);
                    $("#modal-product-detail").modal("show");
                },
                error: function (err) {
                    toastError("Có lỗi xảy ra khi lấy thông tin sản phẩm");
                }
            });
        });
    });

    function loadCart() {
        const cart = JSON.parse(localStorage.getItem("cart") || "[]");

        if (cart.length === 0) {
            $(".no-item-container").removeClass("hidden");
            $("#cart-container .row").addClass("hidden");
        }else{
            $(".no-item-container").addClass("hidden");
            $("#cart-container .row").removeClass("hidden");
        }

        $.ajax({
            url: "/api/cart",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ cart: cart }),
            success: function (response) {
                var container = $(".cart-info .card");
                if (container) {
                    container.html(response.data);
                }
            },
            error: function (error) {
                toastError("Lấy giỏ hàng thất bại!!!");
            },
        });
    }
    
    function changeCartItemUI(ele, id, quantity, price, type = "increase") {

        //Set quanity
        var spanQuantityElement = $(ele).siblings(".item-quantity");
        spanQuantityElement.text(quantity);

        //Set total price for item
        var totalPriceItem = quantity * price;
        $(ele).closest(".item-info-" + id).data("total-price", totalPriceItem);
        var itemTotalPriceElement = $("#item-total-price-" + id);
        var spanPriceElement = itemTotalPriceElement.find(".price");
        if (spanPriceElement && quantity > 0) {
            spanPriceElement.text(totalPriceItem.toLocaleString('en-US', { minimumFractionDigits: 0 }));
        }

        //Set total price for cart
        var totalPriceCart = $("#hdf-cart-total-price").val() || 0;
        if (type === "increase") {
            totalPriceCart = +totalPriceCart + price;
        } else if (type === "decrease") {
            totalPriceCart = +totalPriceCart - price;
        }
        $("#hdf-cart-total-price").val(totalPriceCart);
        $(".cart-total-price").text(totalPriceCart.toLocaleString('en-US', { minimumFractionDigits: 0 }));

        //Set total payment
        var totalPayment = totalPriceCart + 0; // Assuming 0 is the shipping fee
        $(".cart-total-payment").text(totalPayment.toLocaleString('en-US', { minimumFractionDigits: 0 }));
    }

    function validateShipForm() {
        const name = $("#name").val().trim();
        const phoneNumber = $("#phonenumber").val().trim();
        const address = $("#address").val().trim();
        const countCart = JSON.parse(localStorage.getItem("cart") || "[]");

        if (countCart.length === 0) {
            toastError("Giỏ hàng của bạn đang trống.");
            return false;
        }

        if (!name || !phoneNumber || !address) {
            toastError("Vui lòng điền đầy đủ thông tin nhận hàng.");
            return false;
        }
        return true;
    }
    // function loadMap(callback) {
    //     let map,
    //         marker,
    //         selectedLatLong = null;
    //     if (!map) {
    //         map = L.map("map").setView([10.762622, 106.660172], 13);
    //         L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    //             maxZoom: 19,
    //         }).addTo(map);

    //         // Click trên map để chọn vị trí
    //         map.on("click", function (e) {
    //             selectedLatLng = e.latlng;
    //             if (marker) marker.remove();
    //             marker = L.marker(selectedLatLng).addTo(map);
    //         });
    //     }
    // }
</script>
{% endblock %}