{% if cart_items|length > 0 %}
<div class="card-body" style="max-height: 60vh; overflow: auto">
  <div class="card-title">
    Giỏ hàng của bạn đang có
    <strong class="cart-count-item text-success">{{total_item}}</strong> sản
    phẩm
  </div>
  <hr />
  {% for product in cart_items %}
  <div class="row align-items-center border-bottom py-2">
    <!-- Ảnh sản phẩm -->
    <div class="col-auto">
      <img
        src="{{ url_for('static', filename=product.image if product.image else 'default.png') }}"
        alt="{{product.title}}"
        class="img-fluid rounded"
        style="width: 80px"
      />
    </div>

    <!-- Thông tin sản phẩm -->
    <div class="col">
      <h6 class="mb-1 text-success fw-bold">{{product.title}}</h6>
      <p class="mb-1 text-muted small">
        Kích cỡ: M, Ngọt: Bình thường, Trà: Bình thường, Đá: Bình thường
      </p>
      <div id="item-total-price-{{product.id}}" class="fw-bold text-success">
        <span class="price">{{"{:,.0f}".format(product.total_price) }}</span>
        <span class="text-lowercase">đ</span>
      </div>
    </div>

    <!-- Nút edit/delete -->
    <div class="col-auto text-center">
      <button class="btn btn-link p-0 text-success">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn btn-link p-0 text-danger">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>

    <!-- Nút số lượng -->
    <div class="col-auto">
      <div
        class="d-flex align-items-center item-handle-quantity"
        data-id="{{product.id}}"
        data-price="{{product.price}}"
      >
        <button class="btn btn-decrease btn-danger btn-sm">-</button>
        <span class="mx-2 item-quantity">{{product.quantity}}</span>
        <button class="btn btn-increase btn- btn-success btn-sm">+</button>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
<!-- / Shopping cart table -->

<div class="cart-footer">
  <div class="footer-total-price d-flex justify-content-between">
    <label class="text-muted font-weight-normal m-0">Tổng món</label>
    <div class="text-large fw-bold">
      <span class="cart-total-price">{{"{:,.0f}".format(total_price) }}</span>
      <span class="text-lowercase">đ</span>
    </div>
  </div>
  <div class="footer-shipment d-flex justify-content-between">
    <label class="text-muted font-weight-normal m-0">Phí ship</label>
    <div class="text-large fw-bold">
      <span class="cart-shipment">{{"{:,.0f}".format(0) }}</span>
      <span class="text-lowercase">đ</span>
    </div>
  </div>
  <hr />
  <div class="footer-shipment d-flex justify-content-between">
    <label class="text-muted font-weight-normal m-0">Tổng tiền phải trả</label>
    <div class="text-large fw-bold">
      <span class="cart-total-payment">{{"{:,.0f}".format(total_price + 0) }}</span>
      <span class="text-lowercase">đ</span>
    </div>
  </div>
</div>

<div class="float-right">
  <button
    type="button"
    class="btn btn-pay btn-danger mt-2"
    style="float: right"
  >
    Thanh toán
  </button>
  <a
    href="/"
    class="btn btn-lg btn-default md-btn-flat mt-2 mr-3"
    style="float: left"
    >Trở lại</a
  >
</div>

<input type="hidden" id="hdf-cart-total-price" value="{{total_price}}" />
{% endif %}
